{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if psu_listing %}
<h1>{{ psu_listing.psu.psu_name }}</h1>
<form method="post">
      <ul class="list-group">
        <li class="list-group-item">
  {% csrf_token %}
            <p>Date listed <em><b>{{ psu_listing.date_created }}</b></em>,
            Expiration date - <em><b>{{ psu_listing.expiration_date }}</b></em>,
            <b style="display: inline;"
            class="{% if psu_listing.exp_status == 'Active' %} text-success
            {% else %} text-danger
            {% endif %}"><em> {{ psu_listing.exp_status }}</em></b>
            </p>
            <p>number of PSUs - {{ psu_listing.quantity }}</p>
                <p>price per one - {{ psu_listing.price }}</p>
        <p>{{ psu_listing.psu.psu_name }}, {{ psu_listing.psu.wattage }}W,
          {{ psu_listing.psu.get_efficiency_display }}</p>

    <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Delete</button>
        <a class="btn btn-outline-secondary" href="{% url 'my-listings' %}">Go back</a>
    </div>
        </li>
      </ul>
</form>
{% else %}
No PSU listing found
{% endif %}

{% endblock %}
{% block title %}<title>{{ psu_listing.psu.psu_name }}</title>{% endblock %}