{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if cpucooler_listing %}
<h1>{{ cpucooler_listing.cpucooler.cooler_name }}</h1>
<form method="post">
      <ul class="list-group">
        <li class="list-group-item">
  {% csrf_token %}
        <p>Date listed <em><b>{{ cpucooler_listing.date_created }}</b></em>,
            Expiration date - <em><b>{{ cpucooler_listing.expiration_date }}</b></em>,
            <b style="display: inline;"
            class="{% if cpucooler_listing.exp_status == 'Active' %} text-success
            {% else %} text-danger
            {% endif %}"><em> {{ cpucooler_listing.exp_status }}</em></b>
            </p>
                <p>number of CPU coolers - {{ cpucooler_listing.quantity }}</p>
            <p>price per one - {{ cpucooler_listing.price }}</p>
            <p>{{ cpucooler_listing.cpucooler.cooler_name }},
              {{ cpucooler_listing.cpucooler.get_cooler_type_display }},
              max power {{ cpucooler_listing.cpucooler.max_power }}W,
              fan size is {{ cpucooler_listing.cpucooler.fan_size }}mm</p>

    <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Delete</button>
        <a class="btn btn-outline-secondary" href="{% url 'my-listings' %}">Go back</a>
    </div>
        </li>
      </ul>
</form>
{% else %}
No CPU cooler listing found
{% endif %}

{% endblock %}
{% block title %}<title>{{ cpucooler_listing.cpucooler.cooler_name }}</title>{% endblock %}