{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if ram_listing %}
<h1>{{ ram_listing.ram.ram_name }}</h1>
<form method="post">
      <ul class="list-group">
        <li class="list-group-item">
  {% csrf_token %}
            <p>Date listed <em><b>{{ ram_listing.date_created }}</b></em>,
            Expiration date - <em><b>{{ ram_listing.expiration_date }}</b></em>,
            <b style="display: inline;"
            class="{% if ram_listing.exp_status == 'Active' %} text-success
            {% else %} text-danger
            {% endif %}"><em> {{ ram_listing.exp_status }}</em></b>
            </p>
            <p>number of RAM sticks - {{ ram_listing.quantity }}</p>
                <p>price per one - {{ ram_listing.price }}</p>
        <p>{{ ram_listing.ram.ram_name }}, {{ ram_listing.ram.ram_display }},
          {{ ram_listing.ram.get_ram_type_display }}, {{ ram_listing.ram.speed_display }}</p>

    <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Delete</button>
        <a class="btn btn-outline-secondary" href="{% url 'my-listings' %}">Go back</a>
    </div>
        </li>
      </ul>
</form>
{% else %}
No RAM listing found
{% endif %}

{% endblock %}
{% block title %}<title>{{ ram_listing.ram.ram_name }}</title>{% endblock %}