{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if gpu_listing %}
<h1>{{ gpu_listing.gpu.gpu_model }}</h1>
<form method="post">
        <ul class="list-group">
        <li class="list-group-item">
  {% csrf_token %}
        <p>Date listed <em><b>{{ gpu_listing.date_created }}</b></em>,
            Expiration date - <em><b>{{ gpu_listing.expiration_date }}</b></em>,
            <b style="display: inline;"
            class="{% if gpu_listing.exp_status == 'Active' %} text-success
            {% else %} text-danger
            {% endif %}"><em> {{ gpu_listing.exp_status }}</em></b>
            </p>
                <p>number of GPUs - {{ gpu_listing.quantity }}</p>
                    <p>price per one - {{ gpu_listing.price }}</p>
            <p>{{ gpu_listing.gpu.brand }} {{ gpu_listing.gpu.gpu_model }} {{ gpu_listing.gpu.vram_display }}
              {{ gpu_listing.gpu.speed_display }}</p>

    <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Delete</button>
        <a class="btn btn-outline-secondary" href="{% url 'my-listings' %}">Go back</a>
    </div>
        </li>
        </ul>
</form>
{% else %}
No GPU listing found
{% endif %}

{% endblock %}
{% block title %}<title>{{ gpu_listing.gpu.gpu_model }}</title>{% endblock %}