{% extends 'base.html' %}

{% block content %}
<div class="row">
        <form
            class="form-inline my-2 my-lg-0"
            action="{% url 'search-pcbuildlisting' %}"
            method="get">
        <input class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="search_text"/>
        <input class="form-control mr-sm-2"
                type="number"
                placeholder="Min price"
                aria-label="Min price"
                name="min_price"
                step="any"/>
        <input class="form-control mr-sm-2"
                type="number"
                placeholder="Max price"
                aria-label="Max price"
                name="max_price"
                step="any"/>
        <button class="btn btn-light my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>
</div>
<h2 class="mt-4">All PC build listings are listed bellow</h2>
<p class="mt-4"></p>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">
                <button class="btn btn-dark btn-sm text-black"><b>1</b></button>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}">
                <button class="btn btn-dark btn-sm text-black"><b>back</b></button>
            </a>
        {% endif %}
        <span class="current">
            <b>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</b>
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <button class="btn btn-dark btn-sm text-black"><b>next</b></button>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">
                <button class="btn btn-dark btn-sm text-black"><b>last</b></button>
            </a>
        {% endif %}
    </span>
</div>
{% if pcbuildlistings %}
<ul class="list-group">
    {% for listing in pcbuildlistings %}
    <li class="list-group-item">
        <p>{{ listing.pc_name }}</p>
        <p>
            Date listed <em><b>{{ listing.date_created }}</b></em>,
            Expiration date - <em><b>{{ listing.expiration_date }}</b></em>,
            <b style="display: inline;"
            class="{% if listing.exp_status == 'Active' %} text-success
            {% else %} text-danger
            {% endif %}"><em> {{ listing.exp_status }}</em></b>
        </p>
    <p>price - {{ listing.price }}</p>
    <p>
        condition -
        <b style="display: inline;"
            class="{% if listing.condition == 'full' %} text-success
        {% elif listing.condition == 'incomplete' %} text-warning
        {% else %} text-info
        {% endif %}"><em>{{ listing.get_condition_display }}</em></b>
    </p>
        <p>{{ listing.description }}</p>
        <p>
            {{ listing.pc_build.cpu_disp }}, {{ listing.pc_build.gpu_disp }}, {{ listing.pc_build.motherboard_disp }},
            {{ listing.pc_build.ram_disp }}  {{ listing.pc_build.storage_disp }}
        </p>
        <p><b>User likes: {{ listing.count_likes }}</b></p>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'like-pcbuildlistings' listing.id %}">
                {% csrf_token %}
                {% if listing.user_liked %}
                    <button type="submit" class="btn btn-outline-danger"><b>Unlike</b></button>
                {% else %}
                    <button type="submit" class="btn btn-outline-success"><b>Like</b></button>
                {% endif %}
            </form>
        {% endif %}

        <p>{{ listing.display_seller }}
            <a href="{% url 'seller-one' listing.seller.id %}"><b>visit seller</b></a>
        </p>
        <p>
        <a href="{% url 'pcbuild-listing-one' listing.id %}">
        <button class="btn btn-outline-secondary btn-sm">
            <b>go to listing</b>
        </button>
        </a>
        </p>

    </li>

    {% endfor %}
</ul>
{% else %}
No listings found
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">
                <button class="btn btn-dark btn-sm text-black"><b>1</b></button>
            </a>
            <a href="?page={{ page_obj.previous_page_number }}">
                <button class="btn btn-dark btn-sm text-black"><b>back</b></button>
            </a>
        {% endif %}
        <span class="current">
            <b>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</b>
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">
                <button class="btn btn-dark btn-sm text-black"><b>next</b></button>
            </a>
            <a href="?page={{ page_obj.paginator.num_pages }}">
                <button class="btn btn-dark btn-sm text-black"><b>last</b></button>
            </a>
        {% endif %}
    </span>
</div>
{% endblock %}
{% block title %}<title>PC build listings</title>{% endblock %}