{% extends 'base.html' %}

{% block content %}
<div class="row">
        <form
            class="form-inline my-2 my-lg-0"
            action="{% url 'search-seller' %}"
            method="get">
        <input class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="search_text"/>
        <button class="btn btn-light my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>
</div>

{% if query_text %}
    <h3 class="mt-4">{{ search_count }} sellers have been found:</h3>
    <p class="d-inline">
    {% if query_text %}
        search text: {{ query_text }}
    {% endif %}
    <a class="nav-link d-inline ms-2" href="{% url 'sellers-all' %}">
    <button class="btn btn-light btn-sm "><b>reset</b></button>
    </a>
    </p>
{% endif %}


{% if sellers_list %}
<ul class="list-group">
    {% for seller in sellers_list %}
    <li class="list-group-item">
        <p>{{ seller.f_name }} {{ seller.l_name }}</p>
        <p>{{ seller.email }}, phone number - {{ seller.phone_num }}</p>
        <p><a href="{% url 'seller-one' seller.id %}">
            <button class="btn btn-outline-secondary btn-sm"><b>visit seller</b></button>
            </a></p>
    {% endfor %}
    </li>
</ul>
{% else %}
No sellers found
{% endif %}
{% endblock %}
{% block title %}<title>{{ search_count }} results</title>{% endblock %}