{% extends 'base.html' %}

{% block content %}
<div class="row">
        <form
            class="form-inline my-2 my-lg-0"
            action="{% url 'search-pcbuildlisting' %}"
            method="get">
        <input class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="search_text"/>
        <input class="form-control mr-sm-2"
                type="number"
                placeholder="Min price"
                aria-label="Min price"
                name="min_price"
                step="any"/>
        <input class="form-control mr-sm-2"
                type="number"
                placeholder="Max price"
                aria-label="Max price"
                name="max_price"
                step="any"/>
        <button class="btn btn-light my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>
</div>

    {% if not query_min_price and not query_max_price and not query_text %}
        <h2 class="mt-4">All PC build listings are bellow:</h2>
    {% endif %}
    {% if query_min_price or query_max_price or query_text %}
        <h2 class="mt-4">{{ search_count }} PC build listings found:</h2>
        <p class="d-inline">
        {% if query_min_price and query_max_price and not query_text %}
            min price: {{ query_min_price }} | max price: {{ query_max_price }}
        {% elif query_min_price and not query_max_price and not query_text %}
            min price: {{ query_min_price }}
        {% elif query_max_price and not query_min_price and not query_text %}
            max price: {{ query_max_price }}
        {% elif query_max_price and query_min_price and query_text %}
            max price: {{ query_max_price }} | max price: {{ query_max_price }} | text: {{ query_text }}
        {% elif not query_max_price and query_min_price and query_text %}
            max price: {{ query_max_price }} | text: {{ query_text }}
        {% elif query_max_price and not query_min_price and query_text %}
            max price: {{ query_max_price }} | text: {{ query_text }}
        {% endif %}
        <a class="nav-link d-inline ms-2" href="{% url 'pcbuild-listings' %}">
        <button class="btn btn-light btn-sm "><b>reset</b></button>
        </a>
        </p>
    {% endif %}

{% if pcbuildlistings %}
<ul class="list-group">
    {% for listing in pcbuildlistings %}
    <li class="list-group-item">
        <p>{{ listing.pc_name }}</p>
        <p>
            Date listed <em><b>{{ listing.date_created }}</b></em>,
            Expiration date - <em><b>{{ listing.expiration_date }}</b></em>,
            <b style="display: inline;"
            class="{% if listing.exp_status == 'Active' %} text-success
            {% else %} text-danger
            {% endif %}"><em> {{ listing.exp_status }}</em></b>
        <p>
        price - {{ listing.price }}</p>
    <p>
        condition -
        <b style="display: inline;"
            class="{% if listing.condition == 'full' %} text-success
        {% elif listing.condition == 'incomplete' %} text-warning
        {% else %} text-info
        {% endif %}"><em>{{ listing.get_condition_display }}</em></b>
    </p>
        <p>{{ listing.description }}</p>
        <p>
            {{ listing.pc_build.cpu_disp }}, {{ listing.pc_build.gpu_disp }}, {{ listing.pc_build.motherboard_disp }},
            {{ listing.pc_build.ram_disp }}  {{ listing.pc_build.storage_disp }}
        </p>
        <p><b>User likes: {{ listing.count_likes }}</b></p>
        <p>{{ listing.display_seller }}
            <a href="{% url 'seller-one' listing.seller.id %}"><b>visit seller</b></a>
        </p>
        <p>
        <a href="{% url 'pcbuild-listing-one' listing.id %}">
        <button class="btn btn-outline-secondary btn-sm">
            <b>go to listing</b>
        </button>
        </a>
        </p>

    </li>

    {% endfor %}
</ul>
{% else %}
No listings found
{% endif %}

{% endblock %}
{% block title %}<title>{{ search_count }} results</title>{% endblock %}